#contactable #contactable_inner {
	background-image:url("../images/contact.png");
	color:#FFFFFF;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 18px;
	background-color:#333333;
	cursor:pointer;
	height:102px;
	left:0;
	margin-left:-5px; 
	*margin-left:-5px; 
	overflow:hidden;
	position:fixed;
	*position:absolute;
	text-indent:-100000px;
	top:102px;
	*margin-top:10px;
	width:44px;
}

#contactable #contactForm {
	background-color:lightblue;
	border:2px solid #FFFFFF;
	color:#41403B;
	height:483px;
	left:0;
	margin-left:-400px;
	*margin-left:-434px;
	margin-top:-160px;
	overflow:hidden;
	padding-left:30px;
	position:fixed;
	top:200px;
	width:360px;
	*width:394px;
	z-index:99;
}

#contactable form#contactForm input, textarea, select {
	background:#E8F5FB none repeat scroll 0 0;
	outline-style:none;
	outline-width:medium;
	width:325px;
	padding:5px;
	border:1px solid #BBBBBB;
	font-size:14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height:16px;

}

#contactable form#contactForm input:focus, textarea:focus, select:focus
{
   border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
   box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
   background:white;
}
 
#contactable form#contactForm select {
	width:325px;
}

#contactable form#contactForm p {
	width:325px;
	font-size:0.9em;
}

#contactable form#contactForm .disclaimer {
	*margin-left:20px;
}

#contactable #contactForm .green {
	color:	#76b347;
}

#contactable #overlay {
	background-color:#666666;
	display:none;
	height:100%;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
} 
/*#contactable .invalid { background-color: #EDBE9C; }
#contactable #name.invalid { background-color: #EDBE9C; } 
#contactable #email.invalid { background-color: #EDBE9C; }
#contactable #comment.invalid { background-color: #EDBE9C; } */ 

#contactable form#contactForm label{
	*margin-left:20px;
	line-height:150%;
}

#contactable form#contactForm #loading {
	background: url(images/ajax-loader.gif) no-repeat;
	width:66px;
	height:66px;
	margin: 80px auto;
	display:none;
}

#contactable #callback {
	font-size:1.1em;
	color: #FFF;
	width:325px;
	margin: 100px auto;	
	display:none;
}

#contactable .holder {
	margin:0 auto;
	*margin-left:20px;
	padding-top:20px;	
}	

/* Submit button */
#contactable form#contactForm .submit  {
 background: rgb(59,103,158); /* Old browsers */
background: -moz-linear-gradient(top, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 100%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(100%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(top, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  border: 1px solid #3B679E ;
  border-bottom: 1px solid #3B679E;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #3B679E;
  color: #fff;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 326px;
  height:31px;
 }

#contactable form#contactForm .submit:hover {
    background: rgb(59,103,158); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 100%, rgba(125,185,232,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(100%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); /* IE10+ */
background: linear-gradient(45deg, rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 100%,rgba(125,185,232,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 1px 0 0 #3B679E;
    -moz-box-shadow: inset 0 1px 0 0 #3B679E;
    box-shadow: inset 0 1px 0 0 #3B679E;
    cursor: pointer; }
  button.cupid-green:active {
    border: 1px solid #3B679E;
    border-bottom: 1px solid #3B679E;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; }
    
    
    
    .message
    {
      width:325px;
      background:#E8F5FB;
    }

    #contactable form#contactForm .mail_drop select
    {
      width:106px;
    }

    #contactable form#contactForm .mail_drop input
    {
      width:158px;
    }
    .holder img
    {
      position:absolute;
    }